@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
body {  
     margin: 10;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   background-image: url("https://i.pinimg.com/originals/7d/0e/10/7d0e10030b99ba593cb648bd3e81de65.gif"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    
}

  .container{
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    
  }




h1 {    
   
    color: rgb(255, 255, 255);    
    font-size: 50px;    
    font-family: "Montaga", serif;  
    text-shadow: 0 0 10px rgba(46, 41, 36, 0.81);
    
}

footer {    

    padding: 10px 20px;
    flex-direction:row;
    display: flex;
     width: 100%;
    height: 490px;
    display: flex;
    justify-content: right;
    align-items: flex-start ;
    gap: 685px;   
    border-radius: 5px;
   
}

footer button {    
    align-items: center;
    margin: 10px;
     padding: 10px 20px;
    border:none;
    border-radius: 150px;
    background-color: rgb(0, 0, 0);
    color: #8a888f;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Montaga", serif; 
    }

footer button {
    background-color: #780909;
    color: #ffffff;
    transform: scale(1.05);
    
}

.modal {
    display: none !important; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(5, 2, 12, 0.85); 
    z-index: 9999;
}

.modal.active {
    display: flex !important;
    justify-content: flex-end; 
    align-items: center;     
}

.modal-content.modal-cyberpunk {
    margin-right: 20px;
    width: 90%;
    max-width: 420px;
    background-color: #0b0612;
    border-left: 3px solid #ff0055;
    border-right: 3px solid #00f0ff;
    padding: 35px 30px;
    box-shadow: 0 0 25px rgba(255, 0, 85, 0.4);
    position: relative;
    
    clip-path: polygon(
        0 25px, 25px 0, 
        100% 0, 100% calc(100% - 25px), 
        calc(100% - 25px) 100%, 0 100%
    );
}

.modal-cyberpunk h2 {
    margin-top: 0;
    font-size: 28px;
    color: #00f0ff;
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #ff0055;
    padding-bottom: 8px;
}

.modal-cyberpunk p {
    color: #e5d4ed;
    line-height: 1.6;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 20px 0;
}


.close-btn {
    background-color: #ff0055;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 0, 85, 0.6);
}

.close-btn:hover {
    background-color: #00f0ff;
    color: #000000;
    box-shadow: 0 0 15px #00f0ff;
}
